# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# PyTorch saved models
*.pth

# Logs and temporary files
*.log
*.DS_Store

# Virtual environment
.env/
venv/

# IDE-specific files
.vscode/
.idea/

screenshots/
data_labels.csv